@import './mixxins';
@import './variables';

.calc-header {
    @include flex(row,space-between,center);
    
    .calc-title{
        align-self: flex-end;
    }
    .theme-container{
        @include flex(row,space-between,center);
        gap: 2rem;
            .theme-list{
                @include flex(row,space-between,center);
                padding: 0 .5rem;
                margin-bottom: 1rem;
                font-size: 1.6rem;
            }
            .ball-container{
          
                border-radius: 10rem;
                padding:.5rem .5rem;
                width: 10rem;
                position: relative;
                cursor: pointer;

                .ball{
                    background-color: $igual-bg-1;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                
                }
                .ball-theme-1{
                    background-color: $igual-bg-1;
                    transform: translateX(0);
                }
                .ball-theme-2{
                    background-color: $igual-bg-1;
                    transform: translateX(160%);
                }
                .ball-theme-3{
                    background-color: $igual-bg-3;
                    transform: translateX(350%);
                }
                
            }
            .ball-cont-theme-1{
                background-color: $toggle-bg-1;
            }
            .ball-cont-theme-2{
                background-color: $toggle-bg-2;
            }
            .ball-cont-theme-3{
                background-color: $toggle-bg-3;
            }
            .theme-text{
                align-self: flex-end;
                text-transform: uppercase;
                font-size: 2.6rem;
                font-weight: 400;
                letter-spacing: .2rem;
            }


       
    }
}
.calc-header-theme-1{
    color: $white;
}
.calc-header-theme-2{
    color: black;
}
.calc-header-theme-3{
    color: $number-color-3;
}
