@import './variables';
@import './mixxins';
.numb-input{
    height: 13vh;
    border-radius: 1rem;
    padding: 2rem;
    margin: 3rem 0;
    overflow-y: auto;
  
    @include flex(row,flex-end,center);
    .numb-input-container{
      
      
        overflow-wrap: break-word;
        @include flex(column,center,flex-end);
        gap: 1rem;
        .result-prev{
            font-size: 2rem;
        }
        .result{
            max-width: 55rem;
            font-size: 3.2rem;
            font-weight: bold;
            word-break: break-all;
          
        }
    }
}
.numb-input-theme-1{
    background-color: $result-bg-1;
    color: $white;
}
.numb-input-theme-2{
    background-color: $result-bg-2;
    color: $number-color-2;
}
.numb-input-theme-3{
    background-color: $toggle-bg-3;
    color: $number-color-3;
}